extends ../templates/default
block estilo
      link(rel='stylesheet', href='/stylesheets/panel.css')
block content  
  div(class="container")
    div(class="row")
      div(id="leftnav" class="nav-side-menu col-md-2 no-float")
        div( class="menu-list")  
          ul(id="menu-content" class="menu-content collapse out")
          li(data-toggle="collapse" data-target="#Grupos" class="collapsed active")
            a(href="#")='Grupos'
            span(style="float:right")
              a(href="#")='+'
          if grupos.length >0
            each grupo, i in grupos
              li(data-toggle="collapse" data-target='##{grupo.nombre}' class="collapsed active")
                a(href="#") #{grupo.nombre}
                span(style="float:right")
                  a(href="#")='-'
                span(class="badge" style="float:right")='12'
                ul(class="sub-menu collapse" id='#{grupo.nombre}')            
            li(data-toggle="collapse" data-target="#Amigos" class="collapsed active")
              a(href="#")='Amigos'
              span(style="float:right")
                a(href="#")='-'
              ul(class="sub-menu collapse" id="Amigos")
                  li(class="active")
                    a(href="#")='Tia'
                  li
                    a(href="#")='Hermano'
                  li
                    a(href="#")='Primo'
                  li
                    a(href="#")='Otros'              
      div(class='col-md-10 no-float chat')
        div(class='col-md-12 mensaje')         
          p= 'Hola... ' + user.nombre